.hidden.menu {
    display: none;
}


#masthead_top {
    background-image: url("../assets/images/masthead_background.jpg");
    background-size: cover;
    min-height: 100vh;
}

.masthead.segment {
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 50%;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.learn_more{
    /*position: absolute;*/
    margin-top: 50%;
}

p.hidden {
    opacity: 0;
}


#learn_more_i {
    -webkit-transition: all 0.02s ease-in-out;
    -moz-transition: all 0.02s ease-in-out;
    -o-transition: all 0.02s ease-in-out;
    -ms-transition: all 0.02s ease-in-out;
}

#learn_more_p {
    -webkit-transition: all 0.02s ease-in-out;
    -moz-transition: all 0.02s ease-in-out;
    -o-transition: all 0.02s ease-in-out;
    -ms-transition: all 0.02s ease-in-out;

}


a > .icons {
    color: white;
}


a:hover > .icons {
    color: white;
}

a:hover > .icon.pointing.right{
    color: rgba(0,0,0,.85);
}



.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}


#talk_is_cheap {
    background: url("../assets/images/talk_is_cheap.jpg") no-repeat 50% 30% fixed;
    background-size: cover;
}


#progress_container {
    background-color: #eee;
}


#aboutme {
    background-color: #ddd;
}

/*#projects_con {*/
    /*background-color: #ffff00;*/
/*}*/


.ui.items>.item>.image>a>img {
    display: block;
    /*width: 100%;*/
    height: auto;
    border-radius: .125rem;
    border: none;
}

.ui.items>.item>.content>.header.title:not(.ui){
    font-size: 1.7em;
}


.pointing.right.hover {
    margin-left: 100px;
}



.desc {
    font-size: 1.15em !important;
}


.ui.items>.item>.image+.content {
    width: 100%;
}


.side-circle.ui.rail {
    margin-top: 100vh;
    margin-left: 20px;
    display: block !important;
}



@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}


