/*--------------
  Sidebar Button
---------------*/
.fixed.launch.button {
    display: none;
    position: fixed;
    top: 2.5em;
    left: 0px;

    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
}


.fixed.launch.button.disappear {
    opacity: 0;
}



#example .launch.button .icon {
    margin-left: 0px;
}


#example .fixed.launch.button.menu-text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
}

#example .menu-text{
    opacity: 0;
}


#left-menu.ui.left.demo.vertical.sidebar.labeled.icon.menu.inverted>.item>.icon:not(.dropdown) {
    font-size: 5em !important;
}


.resume {
    padding-top: 30px;
}

.ui.piled.segment {
    font-size: 1.14285714rem;
}

#rotated{
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#rotated.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.sticky.fixed.bottom {
    width: 100%;
}

.pusher {
    padding-bottom: 10em;
}

/*--------------
  Content
---------------*/
#resume {
    padding-top: 6em;
}

.intro {
    padding-top: 30px;
}

#intro > p {
    opacity: 50;
}
